body {
  margin: 0;
}
#animatable {
  background-color: lime;
  height: 100px;
}

/** tools **/
#devtool {
}
#timewave {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.animation {
  font-family: monospace;
}

/** content **/
.row {
  clear: both;
  border-top: 1px solid #ddd;
}
.row>div {
  float: left;
}
.row .left {
  width: 14em;
  color: #0095dd;
  background-color: #f8f8f8;
}
.row .right {
  width: calc(100% - 14em - 1px);
  position: relative;
  border-left: 1px solid #ddd;
}

/** left pane **/
.left .target {
  padding: 0.5em 0 0.5em 0.5em;
}

.property>.name {
  padding: 0.3em 0 0.3em 1.5em;
}

/** timeline **/
.timeline {
  border-top: 1px solid #ddd;
  height: 1em;
}
.timeline .ruler {
  width: calc(100% - 14em - 1px);
  margin-left: calc(14em + 1px);
  position: relative;
}
.timeline .ruler label:nth-child(n+1) {
  position: absolute;
  padding-top: 0.2em;
}
.timeline .ruler label:first-child {
  left: -0.25em;
}
.timeline .ruler label:last-child:after {
  content: "ms";
}

/** keyframes **/
.row.keyframes {
  border-top: 1px solid #ddd;
}
.row.keyframes .left {
  background-color: white;
}
.row.keyframes .left>div {
  padding-left: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}
.row.keyframes .right {
}
.row.keyframes .ruler {
  position: relative;
}
.row.keyframes .ruler label {
  position: absolute;
  padding-top: 0.8em;
}
.row.keyframes .ruler label:first-child {
  left: -0.25em;
}
.row.keyframes .ruler label:nth-child(2) {
  left: 50%;
}
.row.keyframes .ruler label:last-child {
  right: 0;
}

.row.keyframes .ruler label {
}

/** result **/
.row.result .throbber {
  position: absolute;
  background-color: red;
  width: 1px;
  height: 100%;
  top: 0px;
  left: 50%;
}
.row.result canvas {
  width: 100%;
  height: 100%;
}

/** easing **/
.row.easing .graph {
  fill: #eee;
  stroke: #ddd;
}
.row.easing .lines {
  stroke: #ddd;
}
.row.easing .name {
  padding-left: 1em;
}

/** properties **/

/** clonable **/
#cloneable {
  display: none:
}